In [39]:
%matplotlib notebook
%matplotlib ipympl
%matplotlib ipympl

In [40]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
import numpy as np

In [41]:
path = Path("../data/diabetes_dataset00.csv")

In [42]:
original_data = pd.read_csv(path)
original_data.value_counts("Target")

Target
MODY                                          5553
Secondary Diabetes                            5479
Cystic Fibrosis-Related Diabetes (CFRD)       5464
Type 1 Diabetes                               5446
Neonatal Diabetes Mellitus (NDM)              5408
Wolcott-Rallison Syndrome                     5400
Type 2 Diabetes                               5397
Prediabetic                                   5376
Gestational Diabetes                          5344
Type 3c Diabetes (Pancreatogenic Diabetes)    5320
Wolfram Syndrome                              5315
Steroid-Induced Diabetes                      5275
LADA                                          5223
Name: count, dtype: int64

In [43]:
original_data.head()

,Target,Genetic Markers,Autoantibodies,Family History,Environmental Factors,Insulin Levels,Age,BMI,Physical Activity,Dietary Habits,...,Pulmonary Function,Cystic Fibrosis Diagnosis,Steroid Use History,Genetic Testing,Neurological Assessments,Liver Function Tests,Digestive Enzyme Levels,Urine Test,Birth Weight,Early Onset Symptoms
0,Steroid-Induced Diabetes,Positive,Negative,No,Present,40,44,38,High,Healthy,...,76,No,No,Positive,3,Normal,56,Ketones Present,2629,No
1,Neonatal Diabetes Mellitus (NDM),Positive,Negative,No,Present,13,1,17,High,Healthy,...,60,Yes,No,Negative,1,Normal,28,Glucose Present,1881,Yes
2,Prediabetic,Positive,Positive,Yes,Present,27,36,24,High,Unhealthy,...,80,Yes,No,Negative,1,Abnormal,55,Ketones Present,3622,Yes
3,Type 1 Diabetes,Negative,Positive,No,Present,8,7,16,Low,Unhealthy,...,89,Yes,No,Positive,2,Abnormal,60,Ketones Present,3542,No
4,Wolfram Syndrome,Negative,Negative,Yes,Present,17,10,17,High,Healthy,...,41,No,No,Positive,1,Normal,24,Protein Present,1770,No

In [44]:
type2_df = original_data[original_data['Target'] == 'Type 2 Diabetes']
type2_df.reset_index()
type2_df.value_counts('Family History')

Family History
Yes    2746
No     2651
Name: count, dtype: int64

In [45]:
type2_df.value_counts('Smoking Status')

Smoking Status
Smoker        2706
Non-Smoker    2691
Name: count, dtype: int64

In [46]:
type2_df.value_counts('Alcohol Consumption')

Alcohol Consumption
Low         1861
Moderate    1786
High        1750
Name: count, dtype: int64

In [47]:
lifestyle_factors_df = type2_df[['Alcohol Consumption','Smoking Status','Family History']]
life_factors_df = lifestyle_factors_df.reset_index(drop=True)
numbers = life_factors_df.value_counts()
numbers_df = pd.DataFrame(numbers)

In [48]:

numbers_df = numbers_df.sort_values(by=['Alcohol Consumption'])

numbers_df

                                                   count
Alcohol Consumption Smoking Status Family History
High                Non-Smoker     Yes               466
                    Smoker         Yes               449
                                   No                423
                    Non-Smoker     No                412
Low                 Smoker         No                481
                    Non-Smoker     Yes               464
                                   No                458
                    Smoker         Yes               458
Moderate            Non-Smoker     Yes               457
                    Smoker         Yes               452
                                   No                443
                    Non-Smoker     No                434

In [ ]:
#sorted_numbers = numbers_df.sort_values(by=['Alcohol Consumption', 'Smoking Status',])
#sorted_numbers

                                                   count
Alcohol Consumption Smoking Status Family History
High                Non-Smoker     Yes               466
                                   No                412
                    Smoker         Yes               449
                                   No                423
Low                 Non-Smoker     Yes               464
                                   No                458
                    Smoker         No                481
                                   Yes               458
Moderate            Non-Smoker     Yes               457
                                   No                434
                    Smoker         Yes               452
                                   No                443

KeyError: 'Alcohol Consumption'

In [37]:
if 'Alcohol Consumption' in sorted_numbers.columns:
    # Filter the DataFrame
    sorted_numbers = sorted_numbers.loc[sorted_numbers['Alcohol Consumption'].isin(['High', 'Moderate', 'Low'])]
else:
    print("Column 'Alcohol Consumption' does not exist in the DataFrame.")

Column 'Alcohol Consumption' does not exist in the DataFrame.

In [ ]:
categories_df = life_factors_df

AttributeError: 'str' object has no attribute 'value_counts'

In [ ]:
plt.bar()

TypeError: bar() missing 1 required positional argument: 'height'

Family History: Yes
Alcohol Consumption: High
Smoking Status: Smoking

In [10]:
yes_family_history_df = life_factors_df[life_factors_df['Family History'] == "Yes"]
high_drinking_yes_family = yes_family_history_df[yes_family_history_df['Alcohol Consumption'] == "High"]
smoking_drinking_high_yes_family = high_drinking_yes_family[high_drinking_yes_family['Smoking Status'] == "Smoker"]
smoking_drinking_high_yes_family.value_counts()

Alcohol Consumption  Smoking Status  Family History
High                 Smoker          Yes               449
Name: count, dtype: int64

Family: Yes Smoking:Yes Alcohol: Moderate

In [11]:
moderate_y_family = yes_family_history_df[yes_family_history_df["Alcohol Consumption"] == "Moderate"]
smoking_moderate_y_family = moderate_y_family[moderate_y_family['Smoking Status'] == "Smoker"]
smoking_moderate_y_family.value_counts()

Alcohol Consumption  Smoking Status  Family History
Moderate             Smoker          Yes               452
Name: count, dtype: int64

low alcohol, smoker, yes family

In [12]:
low_y_family = yes_family_history_df[yes_family_history_df["Alcohol Consumption"] == "Low"]
smoking_low_y_family = low_y_family[low_y_family["Smoking Status"] == "Smoking"]
low_y_family.value_counts()

Alcohol Consumption  Smoking Status  Family History
Low                  Non-Smoker      Yes               464
                     Smoker          Yes               458
Name: count, dtype: int64

Family History: No
Alcohol Consumption: High
Smoking Status: Smoking

In [13]:
no_family_history_df = life_factors_df[life_factors_df['Family History'] == "No"]
smoking_no_family_df = no_family_history_df[no_family_history_df['Smoking Status'] == "Smoker"]
high_drinking_smoking_no_family = smoking_no_family_df[smoking_no_family_df['Alcohol Consumption'] == "High"]
high_drinking_smoking_no_family.value_counts()

Alcohol Consumption  Smoking Status  Family History
High                 Smoker          No                423
Name: count, dtype: int64

In [14]:
smoking_family_yes = yes_family_history_df['Smoking Status']

In [15]:
drinking_family_yes = yes_family_history_df['Alcohol Consumption'].value_counts()
drinking_family_yes

Alcohol Consumption
Low         922
High        915
Moderate    909
Name: count, dtype: int64

In [16]:
smoking_family_no = no_family_history_df['Smoking Status'].value_counts()
smoking_family_no

Smoking Status
Smoker        1347
Non-Smoker    1304
Name: count, dtype: int64

In [17]:
drinking_family_no = no_family_history_df['Alcohol Consumption'].value_counts()
drinking_family_no

Alcohol Consumption
Low         939
Moderate    877
High        835
Name: count, dtype: int64