In [49]:
%matplotlib notebook
%matplotlib ipympl
%matplotlib ipympl

In [50]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
import numpy as np

In [51]:
path = Path("../data/diabetes_dataset00.csv")

In [52]:
original_data = pd.read_csv(path)
original_data.value_counts("Target")

Target
MODY                                          5553
Secondary Diabetes                            5479
Cystic Fibrosis-Related Diabetes (CFRD)       5464
Type 1 Diabetes                               5446
Neonatal Diabetes Mellitus (NDM)              5408
Wolcott-Rallison Syndrome                     5400
Type 2 Diabetes                               5397
Prediabetic                                   5376
Gestational Diabetes                          5344
Type 3c Diabetes (Pancreatogenic Diabetes)    5320
Wolfram Syndrome                              5315
Steroid-Induced Diabetes                      5275
LADA                                          5223
Name: count, dtype: int64

In [53]:
original_data.head()

,Target,Genetic Markers,Autoantibodies,Family History,Environmental Factors,Insulin Levels,Age,BMI,Physical Activity,Dietary Habits,...,Pulmonary Function,Cystic Fibrosis Diagnosis,Steroid Use History,Genetic Testing,Neurological Assessments,Liver Function Tests,Digestive Enzyme Levels,Urine Test,Birth Weight,Early Onset Symptoms
0,Steroid-Induced Diabetes,Positive,Negative,No,Present,40,44,38,High,Healthy,...,76,No,No,Positive,3,Normal,56,Ketones Present,2629,No
1,Neonatal Diabetes Mellitus (NDM),Positive,Negative,No,Present,13,1,17,High,Healthy,...,60,Yes,No,Negative,1,Normal,28,Glucose Present,1881,Yes
2,Prediabetic,Positive,Positive,Yes,Present,27,36,24,High,Unhealthy,...,80,Yes,No,Negative,1,Abnormal,55,Ketones Present,3622,Yes
3,Type 1 Diabetes,Negative,Positive,No,Present,8,7,16,Low,Unhealthy,...,89,Yes,No,Positive,2,Abnormal,60,Ketones Present,3542,No
4,Wolfram Syndrome,Negative,Negative,Yes,Present,17,10,17,High,Healthy,...,41,No,No,Positive,1,Normal,24,Protein Present,1770,No

In [54]:
type2_df = original_data[original_data['Target'] == 'Type 2 Diabetes']
type2_df.reset_index()
type2_df.value_counts('Family History')

Family History
Yes    2746
No     2651
Name: count, dtype: int64

In [55]:
type2_df.value_counts('Smoking Status')

Smoking Status
Smoker        2706
Non-Smoker    2691
Name: count, dtype: int64

In [56]:
type2_df.head()

,Target,Genetic Markers,Autoantibodies,Family History,Environmental Factors,Insulin Levels,Age,BMI,Physical Activity,Dietary Habits,...,Pulmonary Function,Cystic Fibrosis Diagnosis,Steroid Use History,Genetic Testing,Neurological Assessments,Liver Function Tests,Digestive Enzyme Levels,Urine Test,Birth Weight,Early Onset Symptoms
6,Type 2 Diabetes,Negative,Negative,No,Absent,29,30,31,Moderate,Healthy,...,64,Yes,Yes,Negative,3,Abnormal,96,Ketones Present,4426,No
28,Type 2 Diabetes,Positive,Negative,No,Present,15,51,39,Moderate,Healthy,...,69,Yes,Yes,Negative,3,Normal,49,Protein Present,2587,Yes
32,Type 2 Diabetes,Positive,Positive,No,Present,20,56,31,Moderate,Healthy,...,71,No,No,Negative,3,Abnormal,49,Glucose Present,3079,Yes
38,Type 2 Diabetes,Positive,Positive,Yes,Absent,44,70,34,Low,Unhealthy,...,73,No,No,Positive,3,Normal,83,Protein Present,2633,No
41,Type 2 Diabetes,Negative,Negative,No,Absent,11,62,28,Moderate,Healthy,...,63,Yes,No,Positive,2,Normal,71,Protein Present,3521,Yes

In [57]:
lifestyle_factors_type2_df = type2_df[['Alcohol Consumption','Smoking Status','Family History']]
lifestyle_factors_type2_df.reset_index(drop=True)
type2_numbers = pd.DataFrame(lifestyle_factors_type2_df.value_counts())
type2_numbers = type2_numbers.sort_values(by=['Family History']).reset_index()
type2_numbers_df = pd.DataFrame(type2_numbers)

type2_numbers_df

   Alcohol Consumption Smoking Status Family History  count
0                  Low         Smoker             No    481
1                  Low     Non-Smoker             No    458
2             Moderate         Smoker             No    443
3             Moderate     Non-Smoker             No    434
4                 High         Smoker             No    423
5                 High     Non-Smoker             No    412
6                 High     Non-Smoker            Yes    466
7                  Low     Non-Smoker            Yes    464
8                  Low         Smoker            Yes    458
9             Moderate     Non-Smoker            Yes    457
10            Moderate         Smoker            Yes    452
11                High         Smoker            Yes    449

In [ ]:
yes_type2 = type2_numbers_df[type2_numbers_df['Family History'] == 'Yes']


yes_type2.sort_values(['Alcohol Consumption'])

   Alcohol Consumption Smoking Status Family History  count
6                 High     Non-Smoker            Yes    466
7                  Low     Non-Smoker            Yes    464
8                  Low         Smoker            Yes    458
9             Moderate     Non-Smoker            Yes    457
10            Moderate         Smoker            Yes    452
11                High         Smoker            Yes    449

In [39]:
no_type2 = type2_numbers_df[type2_numbers_df['Family History'] == 'No']
no_type2

  Alcohol Consumption Smoking Status Family History  count
0                 Low         Smoker             No    481
1                 Low     Non-Smoker             No    458
2            Moderate         Smoker             No    443
3            Moderate     Non-Smoker             No    434
4                High         Smoker             No    423
5                High     Non-Smoker             No    412

In [40]:
type1_df = original_data[original_data['Target'] == 'Type 1 Diabetes']
type1_df.reset_index()
type1_df.value_counts('Family History')

Family History
Yes    2729
No     2717
Name: count, dtype: int64

In [41]:
lifestyle_factors_type1_df = type1_df[['Alcohol Consumption','Smoking Status','Family History']]
lifestyle_factors_type1_df.reset_index(drop=True)
type1_numbers = pd.DataFrame(lifestyle_factors_type1_df.value_counts())
type1_numbers = type1_numbers.sort_values(by=['Family History']).reset_index()
type1_numbers_df = pd.DataFrame(type1_numbers)

type1_numbers_df

   Alcohol Consumption Smoking Status Family History  count
0                  Low     Non-Smoker             No    469
1             Moderate     Non-Smoker             No    463
2             Moderate         Smoker             No    449
3                  Low         Smoker             No    448
4                 High         Smoker             No    447
5                 High     Non-Smoker             No    441
6                  Low     Non-Smoker            Yes    485
7             Moderate         Smoker            Yes    466
8                  Low         Smoker            Yes    456
9                 High         Smoker            Yes    455
10                High     Non-Smoker            Yes    450
11            Moderate     Non-Smoker            Yes    417

In [42]:
type3c_df = original_data[original_data['Target'] == 'Type 3c Diabetes (Pancreatogenic Diabetes)']
type3c_df.reset_index()
type3c_df.value_counts('Family History')

Family History
No     2662
Yes    2658
Name: count, dtype: int64

In [43]:
lifestyle_factors_type3c_df = type3c_df[['Alcohol Consumption','Smoking Status','Family History']]
lifestyle_factors_type3c_df.reset_index(drop=True)
type3c_numbers = pd.DataFrame(lifestyle_factors_type3c_df.value_counts())
type3c_numbers = type3c_numbers.sort_values(by=['Family History']).reset_index()
type3c_numbers_df = pd.DataFrame(type3c_numbers)

type3c_numbers_df

   Alcohol Consumption Smoking Status Family History  count
0                  Low         Smoker             No    468
1                  Low     Non-Smoker             No    452
2                 High         Smoker             No    445
3             Moderate         Smoker             No    443
4             Moderate     Non-Smoker             No    439
5                 High     Non-Smoker             No    415
6                  Low         Smoker            Yes    454
7                  Low     Non-Smoker            Yes    452
8                 High         Smoker            Yes    449
9             Moderate         Smoker            Yes    445
10            Moderate     Non-Smoker            Yes    438
11                High     Non-Smoker            Yes    420

In [44]:
wolfram_df = original_data[original_data['Target'] == 'Type 2 Diabetes']
wolfram_df.reset_index()
wolfram_df.value_counts('Family History')

Family History
Yes    2746
No     2651
Name: count, dtype: int64

In [45]:
lifestyle_factors_wolfram_df = wolfram_df[['Alcohol Consumption','Smoking Status','Family History']]
lifestyle_factors_wolfram_df.reset_index(drop=True)
wolfram_numbers = pd.DataFrame(lifestyle_factors_wolfram_df.value_counts())
wolfram_numbers = wolfram_numbers.sort_values(by=['Family History']).reset_index()
wolfram_numbers_df = pd.DataFrame(wolfram_numbers)

wolfram_numbers_df

   Alcohol Consumption Smoking Status Family History  count
0                  Low         Smoker             No    481
1                  Low     Non-Smoker             No    458
2             Moderate         Smoker             No    443
3             Moderate     Non-Smoker             No    434
4                 High         Smoker             No    423
5                 High     Non-Smoker             No    412
6                 High     Non-Smoker            Yes    466
7                  Low     Non-Smoker            Yes    464
8                  Low         Smoker            Yes    458
9             Moderate     Non-Smoker            Yes    457
10            Moderate         Smoker            Yes    452
11                High         Smoker            Yes    449

In [46]:
gestational_df = original_data[original_data['Target'] == 'Gestational Diabetes']
gestational_df.reset_index()
gestational_df.value_counts('Family History')

Family History
Yes    2673
No     2671
Name: count, dtype: int64

In [47]:
lifestyle_factors_gestational_df = gestational_df[['Alcohol Consumption','Smoking Status','Family History']]
lifestyle_factors_gestational_df.reset_index(drop=True)
gestational_numbers = pd.DataFrame(lifestyle_factors_gestational_df.value_counts())
gestational_numbers = gestational_numbers.sort_values(by=['Family History']).reset_index()
gestational_numbers_df = pd.DataFrame(gestational_numbers)

gestational_numbers_df

   Alcohol Consumption Smoking Status Family History  count
0                  Low         Smoker             No    475
1             Moderate         Smoker             No    457
2                 High         Smoker             No    451
3                 High     Non-Smoker             No    434
4                  Low     Non-Smoker             No    429
5             Moderate     Non-Smoker             No    425
6                  Low     Non-Smoker            Yes    463
7                  Low         Smoker            Yes    459
8                 High     Non-Smoker            Yes    455
9             Moderate     Non-Smoker            Yes    444
10                High         Smoker            Yes    442
11            Moderate         Smoker            Yes    410